<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/enviar" method="post" value="alcoolica">
      <label for="chose">Escolha uma bebida:</label>
      <select name="chose" id="chose">
        <option value="a=Alcoholic">Com alcool</option>
        <option value="a=Non_Alcoholic">Sem alcool</option>
      </select>
      ><br />
      <button type="submit" value="Send">Enviar</button>
    </form>
    <% if(locals.contents){ %>
    <h1><%= contents %></h1>
    <% }%> <% if(locals.image){%> <img src="<%=image %>" alt="drinkImgage" /> <%
    } %> <% if(locals.contents){%> <%= recep %> <% } %>
  </body>
</html>
